<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KutuphaneKayıtSistemi.Properties.Settings.ConnectionString"
            connectionString="Data Source=LAPTOP-0SI016LJ\SQLEXPRESS;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="KutuphaneKayıtSistemi.Properties.Settings.kutuphaneConnectionString"
            connectionString="Data Source=LAPTOP-0SI016LJ\SQLEXPRESS;Initial Catalog=kutuphane;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>